@page
@*@model PrivacyModel*@
@{
    ViewData["Title"] = "About Us";
}

<div class="top">
    <h1>About Us</h1>
</div>

<div class="mid">
    <p>WearHouse is a fast fashion brand that was founded in 2019. Wearhouse aims to provide affordable, high quality, trendy, and easy-to-access fashion apparels. To fulfill our goals, we have opened more than 100 stores in various cities accross Indonesia. We have a commitment to make each of our product available in every store, with equal price tags and build qualities regardless of location.</p>
</div>

<div class="bottom">
    <h3>Contact Us</h3>
    <h4>Phone: (021) 12345</h4>
    <h4>Email: support@wearhouse.com</h4>
</div>