@{
    var IsLoggedIn = TempData["SuccessfulLogin"] != null ? (bool)TempData["SuccessfulLogin"] : false;
    var userName = Context.Session.GetString("UserName");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTry</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebTry.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="navbar-left">
                    <ul>
                        <li>
                            <a class="navbar-brand" asp-area="" asp-page="/Index">Wearhouse</a>
                        </li>
                        <li>
                            @if (IsLoggedIn)
                            {
                                <a asp-area="" asp-page="/Categories">Category</a>
                            }
                            else
                            {
                                <a asp-area="" asp-page="/Index">Category</a>
                            }
                        </li>
                        <li>
                            <a asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    @if (IsLoggedIn)
                    {
                        <div class="rotate-container">
                            <span>@userName<i class="fa-solid fa-caret-down" id="dropdown2"></i></span>
                            <div class="dropdown">
                                <button class="x" onclick="refreshPage()">Logout</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul>
                            <li>
                                <a asp-area="" asp-page="/Login">Login</a>
                            </li>
                            <li>
                                <a asp-area="" asp-page="/Register">Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="foot">
            <div class="footer-top">
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="footer-bot">
                <p>Copyright ©2023 Andreas. All Rights Reserved</p>
            </div>
        </div>
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
